body {
  font-family: "Montserrat", sans-serif;
  color: #1f2041;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background: #e5e5e5;
}
/*убрать стандартные отступы*/
select,
div,
p,
button,
h1,
input,
ul,
nav {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*фон и лого*/
.all-content {
  padding-top: 150px;
  width: 1440px;
  margin: 0 auto;
}
.logo-top {
  position: relative;
  margin-top: -130px;
  margin-left: 30px;
  margin-bottom: 72px;
}
/*шрифты*/
/*жирный для заголовка*/
.font-header {
  font-weight: bold;
  font-size: 12px;
  color: #1f2041;
  text-transform: uppercase;
  /**/
  margin-top: 20px;
  margin-bottom: 5px;
}
/*жирный для подзаголовка*/
.font-subtitle-bold {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #1f2041;
}
/*светлый для заголовка*/
.font-light-header {
  font-size: 12px;
  color: rgba(31, 32, 65, 0.5);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 5px;
}
/*сиреневый*/
.fonts-violet {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
}
/*свойства шрифты */
.font-light {
  color: rgba(31, 32, 65, 0.25);
}
.font-medium {
  color: rgba(31, 32, 65, 0.5);
}
.font-strong {
  color: rgba(31, 32, 65, 0.75);
}
.font-upper {
  text-transform: uppercase;
}
.font-bold {
  font-weight: bold;
}
/*инпут и селект*/
.basic-input {
  background: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  height: 44px;
  padding-left: 15px;
}
/*размер*/
.big-input {
  width: 320px;
}
.medium-input {
  width: 266px;
}
.smal-input {
  width: 150px;
}
/*border*/
.input-border-light {
  border: 1px solid rgba(31, 32, 65, 0.25);
}
.input-border-medium {
  border: 1px solid rgba(31, 32, 65, 0.5);
}
/*стрелка */
.input-group-btn {
  position: relative;
}

.btn-arrow {
  position: absolute;
  background: #fff;
  border: none;
}
.right_arrow {
  padding-right: 22px;
}
/*для маленького инпута*/
.btn-arrow-down-input-small {
  top: -30px;
  margin-left: 120px;
}
/*для среднего вниз*/
.btn-arrow-down-input-medium {
  top: -30px;
  margin-left: 236px;
}
/*для среднего вправо*/
.btn-arrow-down-input-medium-right {
  top: -30px;
  margin-left: 234px;
}
.btn-arrow-down-input-big {
  top: -30px;
  margin-left: 302px;
}
.btn-arrow-right-footer {
  top: 15px;
  margin-left: -50px;
}
/*кнопки*/
.big-button {
  display: flex;
  justify-content: space-between;
  height: 44px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  width: 320px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
.button-border {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #bc9cff;
  border: 2px solid #bc9cff;
  color: #bc9cff;
  background-color: white;
  width: 99px;
  height: 44px;
  border-radius: 22px;
}
.button-color {
  width: 99px;
  height: 44px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
}
.button-text-violet {
  width: 67px;
  height: 15px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
  background-color: white;
  border: none;
  margin-right: 20px;
  padding: 0;
  font-weight: bold;
}
.button-text,
.button-text-violet:hover {
  width: 61px;
  height: 15px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  background-color: white;
  border: none;
  padding: 0;
  font-weight: bold;
}
.button-p {
  margin: 0 auto;
  padding-top: 2px;
}
.button-opacity {
  margin-left: 15px;
}
.button-color:hover,
.button-border:hover {
  opacity: 0.5;
}
/*отступы так нельзя :)*/
/*30px*/
.margin-30 {
  margin-bottom: 30px;
}
/*checkbox*/
.checkbox-container {
  padding-left: 35px;
  margin-bottom: 12px;
}
.checkbox-radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
}
.checkbox-checkmark {
  border-radius: 4px;
}
.checkbox-container > .checkbox-input:checked ~ .checkbox-checkmark {
  border: 1px solid #bc9cff;
  box-sizing: border-box;
  border-radius: 4px;
  color: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

/* Create the checkmark/indicator (hidden when not checked) */
/*.checkbox-checkmark:after {
  content: "a";
  position: absolute;
  display: none;
  color: #bc9cff;
  font-weight: bold;
  font-size: 16px;
}
*/
/* Show the checkmark when checked */
.checkbox-container > .checkbox-input:checked ~ .checkbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container > .checkbox-checkmark:after {
  left: 1.7px;
  top: -2.5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
}
/*radiobutton*/
.checkbox-radio-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
}
.radio-but-container {
  padding-left: 35px;
  margin-right: 1px;
}
.radio-but-container:hover {
  color: rgba(31, 32, 65, 0.75);
}
.checkbox-input,
.radio-but-input {
  display: none;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom checkbox */
.checkbox-radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
}
.checkbox-checkmark {
  border-radius: 4px;
}
.radio-but-checkmark {
  border-radius: 10px;
}
.radio-but {
  display: flex;
  color: rgba(31, 32, 65, 0.5);
}

/* Hide the browser's default radio button */
.radio-but-container > .radio-but-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */

/* When the radio button is checked, add a blue background */
.radio-but-container > .radio-but-input:checked ~ .radio-but-checkmark {
  background: white;
  border-radius: 10px;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-but-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-but-container > .radio-but-input:checked ~ .radio-but-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-but-container .radio-but-checkmark:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 10px;
}
.first-radiobutton {
  margin-right: 20px;
}
/*toggle*/
.toogle-content {
  display: flex;
  margin-top: 5px;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 10px;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  /* Primary Color */

  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.toggle-slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  margin: 3px 4px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggle-slider {
  background-color: white;
  border: 1px solid #bc9cff;
}

input:checked + .toggle-slider:before {
  transform: translateX(16px);
}

/* Rounded sliders */
.toggle-slider.round {
  border-radius: 34px;
}

.toggle-slider.round:before {
  border-radius: 50%;
}
input:checked + .switch::before {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
/*кнопка лайк*/
.like-buttons {
  display: flex;
}
.like-buttons-not-active {
  border: 1px solid rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.25);
  margin-right: 10px;
}
.like-buttons-active {
  border: 1px solid #bc9cff;
  color: #bc9cff;
}
.like-buttons-same {
  width: 40px;
  height: 20px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  padding: 3px 8px;
}
/*button-stars*/
.rate-button {
  margin-top: 11px;
  display: flex;
}
.rate-button-stars {
  display: flex;
}
.first-stars {
  margin-right: 20px;
}
/*ширина контента для карточек и элементов*/
.container {
  width: 1159px;
  margin: 0 auto;
}
/*карточки*/
/*карточки первый ряд*/
.card1-2-3,
.card4-5-6 {
  display: flex;
}
/*4 карточки*/
.card-form-same {
  height: 374px; /*только для первой*/
  margin: 20px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.card-form-1245 {
  width: 380px;
  padding: 40px 30px;
  box-sizing: border-box;
}
.card-form-calendar {
  width: 320px;
  padding: 40px 30px;
  box-sizing: border-box;
}
/*высота для карточек*/

.card2 {
  height: 511px;
}
.card3 {
  height: 369px;
}
.card4 {
  height: 646px;
  margin-top: -138px;
}
.card-form-pictures {
  width: 270px;
  height: 257px;
  margin-top: -120px;
  box-sizing: border-box;
}
.card7 {
  margin-top: 27px;
}
/*заполнение карт*/
.cards-header {
  font-size: 24px;
  /*margin-bottom: 20px;*/
}
/*двойной выбор дат*/
.full-data {
  display: flex;
  justify-content: space-between;
}
/*вторая карточка*/
.card2-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.card2-header-parts {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.number-888 {
  margin: 0 5px;
  font-family: Quicksand;
}
.card2-header-left-luks {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
}
.card2-header-right-money {
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
/*инпут (расстоягние между)*/

.input-card2 {
  margin-right: 20px;
}
/*цены и услуги*/
.service-price-content {
  margin-bottom: 30px;
}
.service-price {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: -8px;
}
.service-price-name > .symbol {
  margin-left: 5px;
}
.service-price-name > .symbol2 {
  margin-left: 33px;
}
/*цена по выбору услуг*/
.result-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}
/*третья карточка*/
.card3-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
}
/*календарь*/
.calendar-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
/*активное число*/
.active-number {
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}
.dropdown-buttons-сalendar {
  padding-top: 20px;
}
.calendar-number {
  display: flex;
  width: 40px;
  height: 40px;

  position: relative;
  justify-content: center;
  align-items: center;
  /*border: 1px solid pink;*/
}

.oval {
  border-radius: 120px;
  background-color: rgb(234, 231, 255);
  color: rgba(31, 32, 65, 0.5);
  display: flex;
  width: 186px;

  position: absolute;
}
/*чтобы исправить расположение*/
.active-number-right-24 {
  margin-left: 150px;
}
.calendar-line-violet2 {
  position: absolute;
  margin-left: 148px;
}
/*четвертая карточка*/
.registration-input {
  margin-top: 20px;
}
.button-registration {
  margin-top: 20px;
}
.registration-account {
  margin-top: 30px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.input-name,
.input-sername {
  margin-bottom: 10px;
}
/*пятая карточка*/
.enter-service {
  margin-top: 20px;
}
/*6 карточка*/
.card6-picture {
  position: relative;
}
.card6-navigation {
  display: flex;
  position: absolute;
  margin-top: -100px;
  justify-content: space-between;
}

.card6-navigation-arrow {
  width: 44px;
  height: 44px;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.card6-navigation-arrow-right {
  margin-left: 185px;
}
/*переход между слайдами*/
.card-buttons-all {
  position: absolute;
  display: flex;
  margin-top: -30px;
  margin-left: 200px;
}
.card-buttons {
  margin-left: 4px;
  width: 7.5px;
  height: 7.49px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
  border-radius: 20px;
}
.card-buttons-active {
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
}
.card-padding {
  padding: 15px;
}
/*полосочка*/
.hr-card6 {
  background: rgba(31, 32, 65, 0.1);
}
/*рейтинг*/
.card6-stars-content {
  display: flex;
  justify-content: space-between;
}
.card6-stars {
  display: flex;
}
.card6-bold {
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  font-weight: bold;
}
/*****************************/
/*headers-footers*/
.headers-footers {
  padding-top: 150px;
  width: 1440px;
  margin: 0 auto;
}
.full-container {
  width: 1440px;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 40px;
}
.header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 40px;
}

.navbar-topmenu {
  margin-left: 298px;
}
/*элементы списка*/
.navbar-topmenu > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.navbar-topmenu > li:last-child {
  margin-right: 0;
}
/*отображение ссылок*/
.navbar-a {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
}
.navbar-a:hover {
  color: rgba(31, 32, 65, 0.75);
  font-weight: bold;
}
/*выпадающий список под меню*/
.navbar-submenu {
  position: absolute;
  width: 100%;
  z-index: 10;
  transition: 0.5s ease-in-out;
}

.navbar .navbar-submenu {
  display: none;
}
.navbar ul li:hover .navbar-submenu {
  display: block;
}
/*расстояние между кнопок в header*/
.header-button-login {
  margin-right: 20px;
}
/*2 header*/
.navbar_line {
  width: 1px;
  background: rgba(31, 32, 65, 0.1);
  margin: 0 30px 0 30px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
/*3 header*/
.header-footer {
  background-color: white;
  padding-bottom: 100px;
}
.footer-content {
  background-color: white;
}
.header-footer-content {
  padding: 100px 0 100px 0;
  height: 81px;
  display: flex;
}
.header-footer-content-logo {
  margin-right: 40px;
}
.header-content-p {
  margin: 20px 0px 20px 0;
}
.line-navigation-header {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 21px;
}
.ul-line2_p {
  margin-right: 3px;
}
.ul-line2_p > li {
  margin-bottom: 20px;
  color: rgba(31, 32, 65, 0.5);
}
/*отображение ссылок*/
.ul-line2_p > li > a {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}
.line-navigation {
  margin-right: 100px;
}
.line-navigation_last {
  margin-right: 0px;
}
.line_input {
  display: flex;
  position: relative;
}

.line_input input {
  color: rgba(31, 32, 65, 0.25);
  width: 260px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 111px 8px 15px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 23px 0 23px 0;
}
.footer-content-icons {
  display: flex;
}
.icon {
  margin-left: 20px;
}
.line_down {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
/*4 footer*/
.footer-main-content {
  padding-top: 100px;
  text-align: center;
}
.footer-main-content-icons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  padding-bottom: 110px;
}
.footer-main-content-p {
  margin-top: 20px;
}
/**********elements**************/
.items {
  margin-top: 350px;
}
.item-container {
  padding: 150px 0 130px 0;
}
.elements {
  display: flex;
  justify-content: space-between;
}
.colum {
  width: 320px;
}
.text-field {
  margin-bottom: 2px;
}
/*заголовок из 2 частей*/
.text-field-default-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
/*ранж слайдер*/
.range-slider {
  margin-top: 10px;
  margin-bottom: 45px;
}
.range-slider-content {
  display: flex;
  justify-content: center;
  position: relative;
  width: 266px;
  height: 6px;
  background: #ffffff;

  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
}
.rectangle {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 88px;
  height: 6px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 3px;
}
.circle {
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
}
.circle1 {
  position: absolute;
  margin-top: -5px;
  margin-left: -50px;
  z-index: 5;
}
.circle2 {
  position: absolute;
  margin-top: -5px;
  margin-left: 45px;
  z-index: 8;
}
/*стили кнопки*/
.buttons-line {
  margin-bottom: 30px;
}
/*страницы*/
.pagination {
  display: flex;

  margin-top: 7px;
}
/*прямоугольник с содержимым*/
.block-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
}

.block-page-line {
  opacity: 0.25;
  color: #1f2041;
}
/*изменить расстояние в календаре*/
.block-page-line-margin {
  margin-left: 35px;
}
.margin-left-22 {
  margin-left: -4px;
}
.block-page-not-active {
  background-color: white;
}
.block-page-not-active > a {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
}
.pagination-block-number {
  position: absolute;
  text-decoration: none;
  color: white;
  width: 40px;
  height: 40px;
}
.colum:last-child {
  margin: 0;
}
.block-page-green {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 22px;
}
.block-page-violet {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  z-index: 10;
}

.pagination-p {
  margin-top: 11px;
  color: rgba(31, 32, 65, 0.75);
}
/*вторая часть*/
.elements-part2 {
  margin-top: 100px;
}
.elements-part3 {
  margin-top: 30px;
}
/*dropdown*/
.dropdown-default {
  margin-bottom: 20px;
  font-size: 14px;
}
.dropdown-expanded-content {
  border: 1px solid rgba(31, 32, 65, 0.5);
  width: 321px;
}
.dropdown-expanded-content-tovar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 7px;
  padding-left: 15px;
}
.dropdown-expanded-content-tovar-znak {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.dropdown-expanded-content-tovar-znak > p {
  margin-right: 7px;
}
.dropdown-expanded-tovar-p,
.dropdown-beds-open-tovar-number {
  font-weight: bolder;
  font-size: 12px;
  text-transform: uppercase;
  color: #1f2041;
}

.dropdown-beds-open-tovar-znak-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 22px;

  font-size: 18px;
  padding-top: -7px;
}
.dropdown-number-not-null {
  color: rgba(31, 32, 65, 0.5);
}
.dropdown-number-null {
  color: rgba(31, 32, 65, 0.25);
}
.dropdown-comand {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
  margin-bottom: 13px;
}
.dropdown-comand-clean {
  font-weight: bold;
  color: rgba(31, 32, 65, 0.5);
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 15px;
}

.dropdown-comand-apply {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
  font-weight: bold;
  padding-right: 7px;
}

/*убрать границы у инпута в dropdown*/
.dropdown-input {
  border: none;
  font-size: 14px;
}

.dropdown-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 13px;
  margin-top: 19px;
}
.dropdown-hr {
  margin-top: 2px;
}
/*2 кнопки*/
.dropdown-buttons-same {
  display: flex;
  justify-content: space-between;

  margin-bottom: 13px;
}
.dropdown-buttons {
  padding-left: 15px;
  margin-top: 19px;
}
/*expandable checkbox list*/
.expandable-checkbox-list,
.expandable-checkbox-list-active-part1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.expandable-checkbox-list {
  margin-bottom: 19px;
}
.expandable-checkbox-list-active-part1 {
  margin-bottom: 18px;
}
/*****/
.p-bold {
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
}
.rich-checkbox-buttons-p {
  margin-top: 5px;
  font-weight: normal;
  font-size: 12px;
}
/*empty-checkbox*/
.empty-checkbox {
  display: flex;
  margin-bottom: 10px;
}
.empty-checkbox-content {
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 10px;
}
/*bullet-list*/
.bullet-list-line {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}
.bullet-list-line-circle {
  width: 10.43px;
  height: 10px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 22px;
  margin-right: 10.43px;
}
/*elements-part4*/
.elements-part4 {
  margin-top: 40px;
}
/*стикеры*/
.content-stiker {
  display: flex;
}
.content-stiker-img {
  margin-right: 10px;
}
.content-stiker-p-main {
  margin-top: 5px;
}
.stikers-hr {
  margin-top: 17px;
  margin-bottom: 20px;
  background: rgba(31, 32, 65, 0.1);
  height: 1px;
}
/*отзывы*/

/**********************************/
.part4-content {
  display: flex;
}
/*стикеры*/
.content-stiker {
  display: flex;
}
.content-stiker-img {
  margin-right: 10px;
}
.content-stiker-p-main {
  margin-top: 5px;
}
.stikers-hr {
  margin-top: 17px;
  margin-bottom: 20px;
  background: rgba(31, 32, 65, 0.1);
  height: 1px;
}
/*отзыв*/
.message {
  display: flex;
  margin-left: 150px;
}
.review-data {
  margin-top: 5px;
  margin-bottom: 10px;
}
.review-icon-like {
  margin-left: 23px;
  margin-top: -15px;
}
.column-long {
  display: flex;
  justify-content: space-between;
}
.review {
  display: flex;
  margin-right: 167px;
  width: 100px;
}
.review-data {
  margin-top: 5px;
  margin-bottom: 10px;
}
.review-icon-like {
  margin-left: 23px;
  margin-top: -15px;
}
/*для чекбокса с галочкой*/
[id^="c"] {
  display: none;
}
[id^="c"] + label {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
[id^="c"] + label:hover {
  border: 1px solid #bc9cff;
}
[id^="c"]:checked + label span {
  position: relative;
  display: inline-block;
  margin-left: -3px;
  margin-bottom: 6px;
}
[id^="c"]:checked + label span:before {
  content: "";
  position: absolute;
  left: -5px;
  width: 10px;
  height: 3px;
  margin-bottom: 4px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}
[id^="c"]:checked + label span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 10px;
  height: 3px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
.checkbox-variant2,
.chekbox-new {
  display: flex;
  margin-bottom: 5px;
}
.chekbox-new-p {
  margin-left: 15px;
  color: rgba(31, 32, 65, 0.5);
}
